#Imports

In [ ]:
import pandas as pd

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
import pickle

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
import numpy as np

In [15]:
from sklearn.model_selection import GridSearchCV

In [28]:
from sklearn.metrics import mean_squared_error

#Data frame creation

In [ ]:
data = [[1, 2, 3], [2, 4, 6], [3, 6, 9], [4, 8, 12], [5, 10, 15], [6, 12, 18], [7, 14, 21], [8, 16, 24], [9, 18, 27], [10, 20, 30]]
df = pd.DataFrame(data, columns=['One', 'Two', 'Three'])
df.head()

   One  Two  Three
0    1    2      3
1    2    4      6
2    3    6      9
3    4    8     12
4    5   10     15

Data frame separation

---

In [ ]:
X = df[['One', 'Two']]
y = df['Three']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
X_train_numpy = X_train.to_numpy()
X_test_numpy = X_test.to_numpy()
y_train_numpy = y_train.to_numpy()
y_test_numpy = y_test.to_numpy()

#Random forest algorithm

In [ ]:
X_numpy = np.concatenate((X_train_numpy, X_test_numpy), axis = 0)

In [ ]:
y_numpy = np.concatenate((y_train_numpy, y_test_numpy), axis = 0)

In [14]:
params = {'n_estimators':[10, 50, 100],
              'criterion': ['squared_error', 'absolute_error', 'friedman_mse', 'poisson'],
              'min_samples_split': [2, 5, 10],
              'min_samples_leaf': [1, 5, 10]}

In [16]:
grid_search = GridSearchCV(estimator = RandomForestRegressor(), param_grid = params)
grid_search.fit(X_numpy, y_numpy)
best_params = grid_search.best_params_
best_results = grid_search.best_score_
print(best_params)
print(best_results)

{'criterion': 'friedman_mse', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 10}
0.5668520408163263

Random forest regressor creation

---

In [17]:
RF = RandomForestRegressor(n_estimators = 10, criterion = 'friedman_mse', min_samples_split = 2, min_samples_leaf=1)

In [18]:
RF.fit(X_numpy, y_numpy)

RandomForestRegressor(criterion='friedman_mse', n_estimators=10)

In [23]:
prediction = RF.predict(X_test_numpy)
prediction

array([25.8,  6. , 16.8])

In [24]:
y_test_numpy

array([27,  6, 18])

Accuracy

---

In [29]:
mean_squared_error(y_test_numpy, prediction)

0.959999999999999

Another prediction

---

In [30]:
input = [[100, 200]]
RF.predict(input)[0]

29.4

#Saving the model with pickle

In [31]:
file = open('RF.pkl', 'wb')
pickle.dump(RF, file)
file.close()

Testing the saved model

---

In [32]:
RF = pickle.load(open('/content/RF.pkl', 'rb'))
RF.predict(input)[0]

29.4