#Install

In [10]:
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     |████████████████████████████████| 76.6 MB 1.1 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.1.0)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

#Imports

In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
import pickle

In [4]:
import numpy as np

In [11]:
import catboost as ctb

In [17]:
from sklearn.metrics import mean_squared_error

#Data frame creation

In [5]:
data = [[1, 2, 3], [2, 4, 6], [3, 6, 9], [4, 8, 12], [5, 10, 15], [6, 12, 18], [7, 14, 21], [8, 16, 24], [9, 18, 27], [10, 20, 30]]
df = pd.DataFrame(data, columns=['One', 'Two', 'Three'])
df.head()

   One  Two  Three
0    1    2      3
1    2    4      6
2    3    6      9
3    4    8     12
4    5   10     15

Data frame separation

---

In [6]:
X = df[['One', 'Two']]
y = df['Three']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
X_train_numpy = X_train.to_numpy()
X_test_numpy = X_test.to_numpy()
y_train_numpy = y_train.to_numpy()
y_test_numpy = y_test.to_numpy()

#CatBoost algorithm

In [12]:
CB = ctb.CatBoostRegressor(verbose=0, random_seed=42, allow_writing_files=False)

In [13]:
CB.fit(X_train, y_train)

In [14]:
prediction = CB.predict(X_test_numpy)
prediction

array([23.96963281,  3.11793467, 15.00705375])

In [16]:
y_test_numpy

array([27,  6, 18])

In [18]:
mean_squared_error(y_test_numpy, prediction)

8.815717701529685

Another prediction

---

In [19]:
input = [[100, 200]]
CB.predict(input)[0]

29.88019905936023

#Saving the model with pickle

In [22]:
file = open('CB.pkl', 'wb')
pickle.dump(CB, file)
file.close()

Testing the saved model

---

In [23]:
CB = pickle.load(open('/content/RF.pkl', 'rb'))
CB.predict(input)[0]

29.88019905936023