#Imports

In [50]:
import pandas as pd

In [51]:
import pickle

In [52]:
import numpy as np

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
from sklearn.neural_network import MLPRegressor

In [55]:
from sklearn.metrics import mean_squared_error

#Saving the model with pickle

In [56]:
data = [[1, 2, 3], [2, 4, 6], [3, 6, 9], [4, 8, 12], [5, 10, 15], [6, 12, 18], [7, 14, 21], [8, 16, 24], [9, 18, 27], [10, 20, 30]]
df = pd.DataFrame(data, columns=['One', 'Two', 'Three'])
df.head()

   One  Two  Three
0    1    2      3
1    2    4      6
2    3    6      9
3    4    8     12
4    5   10     15

Data frame separation

---

In [57]:
X = df[['One', 'Two']]
y = df['Three']

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [59]:
X_train_numpy = X_train.to_numpy()
X_test_numpy = X_test.to_numpy()
y_train_numpy = y_train.to_numpy()
y_test_numpy = y_test.to_numpy()

#Neural network algorithm

In [60]:
NN = MLPRegressor(activation = 'identity', max_iter = 300, random_state = 42, solver = 'lbfgs')

In [61]:
NN.fit(X_train_numpy, y_train_numpy)

MLPRegressor(activation='identity', max_iter=300, random_state=42,
             solver='lbfgs')

In [62]:
prediction = NN.predict(X_test_numpy)
prediction

array([26.99999816,  6.00000059, 17.9999992 ])

In [63]:
y_test_numpy

array([27,  6, 18])

In [64]:
mean_squared_error(y_test_numpy, prediction)

1.4606013408555678e-12

Another prediction

---

In [65]:
input = [[100, 200]]
NN.predict(input)[0]

299.99996655137437

#Saving the model with pickle

In [66]:
file = open('NN.pkl', 'wb')
pickle.dump(NN, file)
file.close()

Testing the saved model

---

In [67]:
NN = pickle.load(open('/content/NN.pkl', 'rb'))
NN.predict(input)[0]

299.99996655137437