#Imports

In [43]:
from sklearn.svm import SVR

In [2]:
import pandas as pd

In [7]:
from sklearn.model_selection import train_test_split

In [11]:
import numpy as np

In [15]:
from sklearn.model_selection import GridSearchCV

In [95]:
import pickle

#Data frame creation

In [74]:
data = [[1, 2, 3], [2, 4, 6], [3, 6, 9], [4, 8, 12], [5, 10, 15], [6, 12, 18], [7, 14, 21], [8, 16, 24], [9, 18, 27], [10, 20, 30]]
df = pd.DataFrame(data, columns=['One', 'Two', 'Three'])
df.head()
df

   One  Two  Three
0    1    2      3
1    2    4      6
2    3    6      9
3    4    8     12
4    5   10     15
5    6   12     18
6    7   14     21
7    8   16     24
8    9   18     27
9   10   20     30

Data frame separation

---

In [75]:
X = df[['One', 'Two']]
y = df['Three']

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [77]:
X_train_numpy = X_train.to_numpy()
X_test_numpy = X_test.to_numpy()
y_train_numpy = y_train.to_numpy()
y_test_numpy = y_test.to_numpy()

#SVM algorithm

In [78]:
X_numpy = np.concatenate((X_train_numpy, X_test_numpy), axis = 0)

In [79]:
y_numpy = np.concatenate((y_train_numpy, y_test_numpy), axis = 0)

finding the best parameters

---

In [82]:
params = {'C':[0.5, 1.0, 2.0],
          'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
          }

In [83]:
grid_search = GridSearchCV(estimator = SVR(), param_grid = params)
grid_search.fit(X_numpy, y_numpy)
best_params = grid_search.best_params_
best_results = grid_search.best_score_
print(best_params)
print(best_results)

{'C': 0.5, 'kernel': 'linear'}
0.9998155426779765

SVR creation

---

In [84]:
SVR = SVR(C = 0.5, kernel ='linear')

In [85]:
SVR.fit(X_numpy, y_numpy)

SVR(C=0.5, kernel='linear')

In [86]:
prediction = SVR.predict(X_test_numpy)
prediction

array([26.92222222,  6.07777778, 17.98888889])

In [87]:
y_test_numpy

array([27,  6, 18])

Another prediction

---

In [94]:
input = [[100, 200]]
SVR.predict(input)[0]

297.9

#Saving the model with pickle

In [96]:
file = open('SVR.pkl', 'wb')
pickle.dump(SVR, file)
file.close()

Testing the saved model

---

In [98]:
SVR = pickle.load(open('/content/SVR.pkl', 'rb'))
SVR.predict(input)[0]

297.9