#Imports

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import xgboost as xg

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.metrics import mean_squared_error as MSE

In [15]:
from sklearn.metrics import mean_squared_error

In [17]:
import pickle

In [24]:
from sklearn.model_selection import GridSearchCV

#Data frame creation

In [6]:
data = [[1, 2, 3], [2, 4, 6], [3, 6, 9], [4, 8, 12], [5, 10, 15], [6, 12, 18], [7, 14, 21], [8, 16, 24], [9, 18, 27], [10, 20, 30]]
df = pd.DataFrame(data, columns=['One', 'Two', 'Three'])
df.head()

   One  Two  Three
0    1    2      3
1    2    4      6
2    3    6      9
3    4    8     12
4    5   10     15

##Data frame separation

In [7]:
X = df[['One', 'Two']]
y = df['Three']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [9]:
X_train_numpy = X_train.to_numpy()
X_test_numpy = X_test.to_numpy()
y_train_numpy = y_train.to_numpy()
y_test_numpy = y_test.to_numpy()

#XGBoost algorithm

##XGBoost creation

In [48]:
XGB = xg.XGBRegressor(objective = 'reg:linear', booster = 'gbtree', n_estimators = 50, random_state = 1)

In [49]:
XGB.fit(X_train_numpy, y_train_numpy)

[12:33:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(n_estimators=50, random_state=1)

In [50]:
prediction = XGB.predict(X_test_numpy)
prediction

array([27.810057,  8.903078, 20.753555], dtype=float32)

In [51]:
y_test_numpy

array([27,  6, 18])

##Accuracy

In [52]:
accuracy = np.sqrt(MSE(y_test_numpy, prediction))
print("RMSE : % f" %(accuracy))

RMSE :  2.356984

In [53]:
mean_squared_error(y_test_numpy, prediction)

5.555373649192916

Another prediction

---

In [54]:
input = [[100, 200]]
XGB.predict(input)[0]

27.810057

#Saving the model with pickle

In [55]:
file = open('XGB.pkl', 'wb')
pickle.dump(XGB, file)
file.close()

Testing the saved model

---

In [56]:
XGB = pickle.load(open('/content/XGB.pkl', 'rb'))
XGB.predict(input)[0]

[12:33:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

27.810057